{% extends 'base.html' %}

{% block main %}
<main>
    <h1 class="main-title">Superbe application ultra solide</h1>
<article>
    <div>
        <h2>Liste des flags</h2>
            {% for flag in flags %}
            <div class="cardnotfound">
                    <p>Nom : {{flag.nom}}</p>   

                    {% if flag.id == 1 %}
                        <p>Flag Hash (celui là il est cadeau) : <span class="flag">{{flag.hash}}</span></p>   

                    {% elif user.est_admin %}
                            <p>Flag hash : </p>  
                            <p class="flag">{{flag.hash}}</p> 
                    {% endif %}

                    
            </div>
            <p class="space"></p>
            {% endfor %}
    </div>

</article>

</main>
{% endblock %}